.theme-default-content:not(.custom),
.page-nav,
.page-edit {
  margin: 0;
}

.navbar .site-name {
  display: none;
}

.navbar, .navbar .links {
  background-color: $baseColor !important;
}

img {
  border: 1px solid #f7f7f7;
}

header img {
  border: none;
}
