.theme-default-content:not(.custom),
.page-nav,
.page-edit,
footer {
  margin: 0 !important;
}

.theme-default-content:not(.custom) > h2 {
  padding-top: 7rem;
}

.navbar .site-name {
  display: none;
}

.navbar, .navbar .links {
  background-color: $baseColor !important;
}

img {
  border: 1px solid #f7f7f7;
}

header img {
  border: none;
}

.mini-img {
  text-align: center;
}

.theme-default-content:not(.custom) .mini-img img {
  max-width: 300px;
}
